.btns {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.btn {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  transition: background-color 700ms;
}

.btn:hover {
  background-color: red;
}
